@media screen and (min-width: 480px) {
	.middle-panel .content {
		width: 100%;
		float: left;
	}	
}
@media screen and (min-width: 780px) {
	.middle-panel .content {
		width: 50%;
		float: left;
	}	
}
@media screen and (min-width: 980px) {
	.middle-panel .content {
		width: 33%;
		float: left;
	}
	.middle-panel .content:nth-child(3n) {
		width: 34%;
	}
}
.side-panel .content {
	width: 100%;
	float: left;
}
.content {
	height: 120px;
}


.navbar-form.navbar-right:last-child {
	margin-right: 0px;
}

body {
	overflow: hidden;
	background-color: #999;
}

.content-panel-handle {
	border-radius: 0;
	border: none;
	margin-bottom: 0;
}

.navbar-fixed-bottom {
	min-height: 0px;
}

.site-container {
	padding: 0;
}

.site-section {
	padding: 0;
}

.active {
	font-weight: bold;
}

b.status {
	width: 8px;
	height: 8px;
	border-radius: 4px;
}

.active-content {
	background-image: -webkit-gradient(linear, left bottom, right top, color-stop(0, #ccc), color-stop(0.25, #ccc), color-stop(0.25, #bbb), color-stop(0.5, #bbb), color-stop(0.5, #ccc), color-stop(0.75, #ccc), color-stop(0.75, #bbb));
	background-image: -webkit-linear-gradient(left bottom, #ccc 0%, #ccc 25%, #bbb 25%, #bbb 50%, #ccc 50%, #ccc 75%, #bbb 75%);
	background-image: -moz-linear-gradient(left bottom, #ccc 0%, #ccc 25%, #bbb 25%, #bbb 50%, #ccc 50%, #ccc 75%, #bbb 75%);
	background-image: -ms-linear-gradient(left bottom, #ccc 0%, #ccc 25%, #bbb 25%, #bbb 50%, #ccc 50%, #ccc 75%, #bbb 75%);
	background-image: -o-linear-gradient(left bottom, #ccc 0%, #ccc 25%, #bbb 25%, #bbb 50%, #ccc 50%, #ccc 75%, #bbb 75%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#bbbbbb',GradientType=0 ); / IE6-8 */
	background-image: linear-gradient(left bottom, #ccc 0%, #ccc 25%, #bbb 25%, #bbb 50%, #ccc 50%, #ccc 75%, #bbb 75%);
	background-size: 30px 30px;
	width:100%;
	height:100%;
}

.btn-queue-remove {
	position: absolute;
	top: 0px;
	right: 0px;
	background-color: transparent;
	border: none;
	text-shadow: 0 0 3px #FFFFFF;
}

.btn-queue-remove:hover {
	text-shadow: 0 0 3px black;
}

.content {
	padding: 0;
	height: 84px;
	overflow: hidden;
	cursor: pointer;
}

.content .description {
	text-overflow: ellipsis;
	overflow: hidden;
	font-size: .75em;	
}

.content .title {
	font-weight: bold;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.bignail {
	padding-left: none;
}

.bignail img {
	left: 0;
	top: 0;
	position: absolute;
	width: 100%;
}


.list-group-item {
	padding: none;
}

.status {
	width: .5em;
	height: .5em;
	border-radius: .25em;
	margin: 1em;
	background-color: orange;
	box-shadow: 0 0 .6em orange;
}

.status.green {
	background-color: green;
	box-shadow: 0 0 .6em green;	
}

.status.red {
	background-color: red;
	box-shadow: 0 0 .6em red;	
}

#playContainer .content-panel-body-inner {
	overflow: hidden;
}

/***
 * Panel Effect
 * ***/
/* Content panel general */
.content-panel {
	position: absolute;
	top: 0px;
	overflow: hidden;
	/* thanks @doot0 */
	background: url("../images/squared_metal.png") repeat;
	-webkit-transition: left .1s, right .1s, padding .1s;
    transition: left .1s, right .1s, padding .1s;
}
.content-panel-header {
	background-color: #222222;
	min-height: 50px;
	position: absolute;
	width: 100%;
	z-index: 2;
}
.content-panel-body {
	padding-top: 50px;
	height: 100%;
	z-index: 1;
}
.content-panel-body-inner {
	height: 100%;
	overflow: auto;
}
/* Panel Zones */
.left-panel {
	left: -288px;
	height: 100%;
	width: 320px;
	z-index: 2;
	box-shadow: 2px 0px 8px #000;
}
.left-panel-focus,
.left-panel:hover {
	left: 0;
}
.right-panel {
	right: -288px;
	height: 100%;
	width: 320px;
	z-index: 2;
	box-shadow: -2px 0px 8px #000;
}
.right-panel-focus,
.right-panel:hover {
	right: 0;
	left: auto;
}
.middle-panel {
	height: 100%;
	width: 100%;
	padding: 0 32px;
	left: 0;
	
	z-index: 1;
}
/* Content Header/Forms */
.right-handle {
	right: 0;
}
.right-panel .right-handle {
	display: none;
}
.left-panel .left-handle {
	display: none;
}
.middle-panel .content-panel-handle {
	display: none;
}
.content-panel-header form {
	position: absolute;
	height: 100%;
	width: 100%;
	padding: 0 64px;
	z-index: 1;
}
.left-panel .content-panel-header form {
	padding-left: 0;
}
.right-panel .content-panel-header form {
	padding-right: 0;
}
.handle-wrap {
	position: absolute;
	height: 100%;
	padding: 0;
	z-index: 2;
}
.content-panel-handle {
	width: 64px !important;
}
.middle-panel .content-panel-header form {
	width: auto;
	left: 50%;
	transform: translateX(-50%);
}
.content-panel-header form input[type="text"] {
	font-size: 19px
}
.btn-amazing {
	background-color: transparent;
	border: none;
	color: white;
	text-shadow: 0 0 3px #FFFFFF;
	
	float: left;
	position: relative;
	text-align: center;
	height: 100%;
	width: 32px;
	padding: 0;
}
.txt-amazing {
	height: 100%;
	font-size: 1.2em;
	width: 192px;
	float: left;
}
.txt-amazing input {
	background: transparent;
	color: white;
	border-bottom: 1px white solid;
	border-radius: 4px;
	
	width: 100%;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.txt-amazing input:hover {
	box-shadow: 0 0 2px white;
}
.btn-amazing * {
	text-align: center;
	width: 100%;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}
.btn-amazing.active {
	color: blue;
}