@-ms-viewport {
    width: auto!important;
}

@-webkit-viewport {
    width: device-width;
}

@-moz-viewport {
    width: device-width;
}

@-ms-viewport {
    width: device-width;
}

@-o-viewport {
    width: device-width;
}

@viewport {
    width: device-width;
}

.active {
	font-weight: bold;
}

b.status {
	width: 8px;
	height: 8px;
	border-radius: 4px;
}
