@media screen and (min-width: 480px) {
	.middle-panel .content {
		width: 100%;
	}
}
@media screen and (min-width: 780px) {
	.middle-panel .content {
		width: 50%;
	}
	.middle-panel.left-focus .content,
	.middle-panel.right-focus .content {
		width: 100%;
	}
}
@media screen and (min-width: 980px) {
	.middle-panel .content {
		width: 33%;
	}
	.middle-panel .content:nth-child(3n) {
		width: 34%;
	}
	.middle-panel.left-focus .content,
	.middle-panel.right-focus .content {
		width: 50%;
	}
	.middle-panel.left-focus .content:nth-child(3n),
	.middle-panel.right-focus .content:nth-child(3n) {
		width: 50%;
	}
}
@media screen and (min-width: 1260px) {
	.middle-panel.left-focus .content,
	.middle-panel.right-focus .content {
		width: 33%;
	}
	.middle-panel.left-focus .content:nth-child(3n),
	.middle-panel.right-focus .content:nth-child(3n) {
		width: 34%;
	}
}

.navbar-form.navbar-right:last-child {
	margin-right: 0px;
}

html {
	overflow: hidden;
}

body {
	overflow: hidden;
	background-color: #999;
}

.content-panel-handle {
	border-radius: 0;
	border: none;
	margin-bottom: 0;
}

.navbar-fixed-bottom {
	min-height: 0px;
}

.site-container {
	padding: 0;
}

.site-section {
	padding: 0;
}

.active {
	font-weight: bold;
}

b.status {
	width: 8px;
	height: 8px;
	border-radius: 4px;
}

.btn-queue-remove {
	position: absolute;
	bottom: 4px;
	right: 4px;
	font-size: 2em;
	background-color: transparent;
	border: none;
	text-shadow: 0 0 3px #FFFFFF;
}

.btn-queue-remove:hover {
	text-shadow: 0 0 3px black;
}

.content {
	padding: 4px 4px 0 4px;
	height: auto;
	display: block;
	cursor: pointer;
	width: 100%;
	float: left;
}

.content-inner {
	background-color: white;
	float: left;
	width: 100%;
	height: 120px;
	overflow: hidden;
	position: relative;
}

.content-inner:hover {
	background-color: #eee;
}

.active-content .content-inner {
	background-color: #99CCFF;
}

.active-content .content-inner:hover {
	background-color: #3399FF
;
}

.content-details {
	width: 100%;
	padding: 0 4px 4px 124px;
	float: left;
	position: absolute;
}

.content .description {
	text-overflow: ellipsis;
	overflow: hidden;
	font-size: .75em;	
}

.content .title {
	font-weight: bold;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	
	margin-top: 6px;
}

.bignail {
	height: 100%;
	width: 120px;
	float: left;
}

.bignail img {
	width: 100%;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.list-group-item {
	padding: none;
}

.status {
	width: .5em;
	height: .5em;
	border-radius: .25em;
	margin: 1em;
	background-color: orange;
	box-shadow: 0 0 .6em orange;
}

.status.green {
	background-color: green;
	box-shadow: 0 0 .6em green;	
}

.status.red {
	background-color: red;
	box-shadow: 0 0 .6em red;	
}

#playContainer .content-panel-body-inner {
	overflow: hidden;
}

/***
 * Panel Effect
 * ***/
/* Content panel general */
.content-panel {
	position: absolute;
	top: 0px;
	overflow: hidden;
	/* thanks @doot0 */
	background: url("../images/squared_metal.png") repeat;
	-webkit-transition: left .1s, right .1s, padding .1s;
    transition: left .1s, right .1s, padding .1s;
}
.content-panel-header {
	background-color: #222222;
	min-height: 50px;
	position: relative;
	width: 100%;
	z-index: 2;
}
.content-panel-icon {
	position: absolute !important;
	top: 0;
}
.middle-panel .content-panel-icon {
	display: none !important;
}
.right-panel:hover .content-panel-icon,
.right-panel-focus .content-panel-icon,
.left-panel:hover .content-panel-icon,
.left-panel-focus .content-panel-icon {
	display: none;
}
.left-panel .content-panel-icon {
	right: 0;
}
.right-panel .content-panel-icon {
	left: 0;
}
.content-panel-body {
	height: 100%;
	z-index: 1;
	padding-bottom: 50px;
}
.content-panel-body-inner {
	height: 100%;
	overflow: auto;
}
.panel-message {
	margin: 20px 10%;
	width: 80%;
	text-align: center;
}
.middle-panel .panel-message {
	margin: 20px 20%;
	width: 60%;
	position: absolute;
	background-color: #adadad;
	border-radius: 4px;
	padding: 10px 0;
	z-index: 1000;
}
/* Panel Zones */
.left-panel {
	left: -288px;
	height: 100%;
	width: 320px;
	z-index: 2;
	box-shadow: 2px 0px 8px #000;
}
.left-panel-focus,
.left-panel:hover {
	left: 0;
}
.right-panel {
	right: -288px;
	height: 100%;
	width: 320px;
	z-index: 2;
	box-shadow: -2px 0px 8px #000;
}
.right-panel-focus,
.right-panel:hover {
	right: 0;
	left: auto;
}
.middle-panel {
	height: 100%;
	width: 100%;
	padding: 0 32px;
	left: 0;
	
	z-index: 1;
}
.middle-panel.right-focus {
	padding-right: 320px;
}
.middle-panel.left-focus {
	padding-left: 320px;
}
/* Content Header/Forms */
.handle-wrap {
	display: none;
}
.right-panel:hover .handle-wrap,
.right-panel-focus .handle-wrap,
.left-panel:hover .handle-wrap,
.left-panel-focus .handle-wrap {
	display: block;
}
.right-handle {
	right: 0;
}
.right-panel .right-handle {
	display: none !important;
}
.left-panel .left-handle {
	display: none !important;
}
.middle-panel .handle-wrap {
	display: none !important;
}
.content-panel-header form {
	position: absolute;
	height: 100%;
	width: 100%;
	padding: 0 64px;
	z-index: 1;
}
.left-panel .content-panel-header form {
	padding-left: 0;
}
.right-panel .content-panel-header form {
	padding-right: 0;
}
.handle-wrap {
	position: absolute;
	height: 100%;
	padding: 0;
	z-index: 2;
}
.middle-panel .content-panel-header form {
	width: auto;
	min-width: 390px;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
}
.content-panel-header form input[type="text"] {
	font-size: 19px
}
.btn-amazing {
	background-color: transparent;
	border: none;
	color: white;
	text-shadow: 0 0 3px #FFFFFF;
	
	float: left;
	position: relative;
	text-align: center;
	height: 100%;
	width: 32px;
	padding: 0;
}
.btn-amazing:hover {
	text-shadow: 0 0 4px #0099FF;
}
.txt-amazing {
	height: 100%;
	font-size: 1.2em;
	width: 192px;
	float: left;
}
.txt-amazing input {
	background: transparent;
	color: white;
	border-bottom: 1px white solid;
	border-radius: 4px;
	
	width: 100%;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}
.txt-amazing input:hover {
	box-shadow: 0 0 2px white;
}
.btn-amazing * {
	text-align: center;
	width: 100%;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}
.btn-amazing.active {
	color: #0099FF;
}

#tool-tip {
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	
	z-index: 2;
	
	display: none;
}
#tool-tip .tip {
    position: absolute;
    top: 5px;
    left: 20px;
}
#tool-tip ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
    
    background-color: white;
    width: 200px;
}
#tool-tip button {
    font-size: 1.2em;
    text-align: center;
    padding: 6px;
    text-align: center;
    display: block;
    width: 100%;
    background-color: transparent;
    
    border: thin solid #adadad;
}
#tool-tip li:first-child button {
    border-bottom: none;
    border-radius: 2px 2px 0 0;
}
#tool-tip li:last-child button {
	border-radius: 0 0 2px 2px;
}
#tool-tip button:hover {
	background-color: #eee;
}

.content-details .ratio {
	left: 0;
	display: block;
	position: absolute;
	font-size: 3.4em;
	text-align: center;
	width: 100%;
}

table.table-awesome {
	font-size: 1.3em;
	float: right;
}
table.table-awesome th {
	text-align: right;
	padding-right: 4px;
}
table.table-awesome td {
	color: #7b7b7b;
}
