<div class="row">
	<div class="col-md-12">
		<form ng-submit="search()" role="form">
			<div class="input-group input-group-lg">
				<input ng-model="query" type="text" class="form-control" placeholder="search...">
				<span class="input-group-btn">
					<button class="btn btn-default" type="submit">
						<span class="sr-only">Search</span>
						<span class="glyphicon glyphicon-search"></span>
					</button>
				</span>
			</div>
		</form>
	</div>
</div>
<div class="row" ng-if="queries">
	<div class="col-md-12">
		<div class="alert alert-info">Searching...</div>
	</div>
</div>
<div class="jumbotron fuzzyTrack" ng-if="fuzzyTrack">
	<h4>You probably meant</h4>

	<h3>{{fuzzyTrack.title}}</h3>
	<img ng-src="{{fuzzyTrack.image}}">
</div>
<div class="row" ng-if="results">
	<div ng-repeat="track in results track by track.id" class="col-sm-6">
		<div class="col-xs-4">
			<img ng-src="{{track.image}}">
		</div>
		<div class="col-xs-8">
			<h4>{{track.title}}</h4>
		</div>
	</div>
</div>